.tekst-wrapper {
  width: 588px;
}

.informasjonsboks {
  border-radius: 8px;
  -webkit-border-radius: 8px;

  background-color: @navLysGra;
  width: @panel-innhold-bredde;
  min-height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;

  @media @tablet {
    max-width: @panel-innhold-bredde;
    width: 100%;
  }

  @media @mobile {
    padding-left: 0;
    margin-left: 0;
  }

  ul {
    padding: 0;
  }

  hr {
    margin-top: 4rem;
    width: 70%;
    border: solid 0.5px #151515;
  }

  .liste-med-ikon {
    display: inline;

    p {
      position: absolute;
      margin-top: 0.1rem;
    }
  }

  .rett-til-liste {
    ul {
      @media @mobile {
        margin-top: 1rem;
      }

      @media @tablet {
        margin-top: 1rem;
      }

      list-style: none;
    }
  }

  .liste-element {
    display: inline;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .undertittel-flere,
  .undertittel-singel,
  .andre-stonader {
    margin-top: 4rem;

    padding-left: 6rem;
    padding-right: 6rem;

    @media @mobile {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    ul {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .undertittel-singel {
    padding-bottom: 6rem;
  }

  .bare-brodtekst {
    margin-top: 4rem;

    padding-left: 6rem;
    padding-right: 6rem;

    @media @mobile {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &-0 {
      padding-left: 6rem;
      padding-right: 6rem;

      @media @mobile {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .informasjonsboks-header {
    position: relative;
    width: 100%;
    height: 140px;
    border-bottom: 0.4rem @familie-border solid;
    background-color: @familie-bakgrunn;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;

    .ball-ikon {
      position: absolute;
      top: 108px;
      left: 18%;

      @media @mobile {
        left: 22%;
      }
    }

    .bamse-ikon {
      position: absolute;
      top: 98px;
      left: 13%;
    }

    .bord-ikon {
      position: absolute;
      top: 118px;
      left: 55%;

      @media @mobile {
        left: 35%;
      }
    }

    .barn-ikon {
      position: absolute;
      top: 54px;
      left: 70%;

      @media @mobile {
        left: 70%;
      }
    }

    .barn2-ikon {
      position: absolute;
      top: 64px;
      left: 60%;

      @media @mobile {
        left: 50%;
      }
    }

    .brodskive-ikon {
      position: absolute;
      top: 109px;
      left: 72%;

      @media @mobile {
        left: 73%;
      }
    }

    .taateflaske-ikon {
      position: absolute;
      top: 95px;
      left: 59%;

      @media @mobile {
        left: 49%;
      }
    }
  }

  .informasjonsboks-innhold {
    h2 {
      margin-block-start: 4rem;
      margin-block-end: 0;
    }

    .disclaimer {
      padding: 2rem 6rem 4rem 6rem;

      @media @mobile {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }

    .rett-til-liste {
      ul {
        li {
          padding-bottom: 0;
          padding-right: 2rem;
        }
      }

      ul {
        li:not(:last-child) {
          padding-bottom: 0.5rem;
        }
      }

      padding-left: 6rem;

      @media @mobile {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    @media @mobile {
      padding: 0;
    }
  }
}
