.tekst-wrapper {
  width: 600px;
}

.informasjonsboks {
  border-radius: 8px;
  -webkit-border-radius: 8px;

  background-color: @navLysGra;
  width: 596px;
  min-height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;

  @media @tablet {
    max-width: 596px;
    width: 100%;
  }

  @media @mobile {
    padding-left: 0;
    margin-left: 0;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-top: 1rem;
    }
  }

  hr {
    margin-top: 3rem;
    margin-bottom: -2rem;
    border: solid 0.5px #151515;
  }

  .liste-med-ikon {
    display: inline;
  }

  .liste-element {
    display: inline;
    margin-left: 1rem;
  }

  .undertittel-flere,
  .undertittel-singel {
    margin-top: 4rem;

    padding-left: 6rem;
    padding-right: 6rem;
  }

  .undertittel-singel {
    padding-bottom: 6rem;
  }

  .undertittel-flere:last-of-type {
    padding-bottom: 6rem;
  }

  .informasjonsboks-header {
    position: relative;
    width: 100%;
    height: 180px;
    border-bottom: 0.4rem @familie-border solid;
    background-color: @familie-bakgrunn;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;

    .ball-ikon {
      position: absolute;
      top: 149px;
      left: 18%;

      @media @mobile {
        left: 22%;
      }
    }

    .bamse-ikon {
      position: absolute;
      top: 140px;
      left: 13%;
    }

    .bord-ikon {
      position: absolute;
      top: 160px;
      left: 55%;

      @media @mobile {
        left: 50%;
      }
    }

    .barn-ikon {
      position: absolute;
      top: 90px;
      left: 70%;

      @media @mobile {
        left: 75%;
      }
    }

    .barn2-ikon {
      position: absolute;
      top: 110px;
      left: 60%;
    }

    .brodskive-ikon {
      position: absolute;
      top: 145px;
      left: 72%;

      @media @mobile {
        left: 78%;
      }
    }

    .taateflaske-ikon {
      position: absolute;
      top: 131px;
      left: 59%;
    }
  }

  .informasjonsboks-innhold {
    h2 {
      margin-block-start: 4rem;
      margin-block-end: 0;
    }

    .rett-til-liste {
      padding-left: 6rem;
    }

    @media @mobile {
      padding: 3rem 2rem;
    }
  }
}
