.innholdspanel {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.knappwrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.sideHeader {
  background-color: var(--a-purple-200);
  text-align: center;
  width: 100%;
  padding: 1rem;
}
