html {
  scroll-behavior: smooth;
}

body {
  background-color: @navLysGra;
  margin: 0;

  a {
    color: @navBla;
  }

  a:focus {
    color: @navMorkGra;
    text-decoration: none;
    background-color: @navLysGra;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innholdspanel {
  margin-top: 5rem;
  margin-bottom: 8rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.knappwrapper {
  text-align: center;
}

.startknapp {
  margin-top: 2rem;
}

.panel {
  width: @panel-bredde;

  @media @tablet {
    width: 100%;
  }

  @media @mobile {
    width: 100%;
  }
}

.blur-in {
  -webkit-animation: text-focus-in 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes blur-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.side-header {
  background-color: #c1b6d1;
  text-align: center;
  height: 80px;
  width: 100%;
  font-weight: bold;

  h1 {
    line-height: 80px;
  }
}

/*
  MicroCard
*/

.navds-card__micro {
  border-radius: 1rem;
  color: #262626;
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: #fab760;
  border: 1px solid transparent;
}

.navds-card__micro:hover {
  background-color: #fff;
  border-color: #01459c;
  color: #01459c;
  transition: 0.3s;
}

.navds-card__micro:focus {
  background-color: #fff;
  color: #01459c;
  outline: none;
  box-shadow: var(--navds-shadow-focus);
  transition: 0.1s;
}

.navds-card__micro:active {
  background-color: #01459c;
  color: #fff;
}
