html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--a-gray-100);
  margin: 0;

  a:focus {
    color: var(--a-gray-700);
    text-decoration: none;
    background-color: var(--a-orange-500);
  }
}
