@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@panel-bredde: 792px;
@panel-innhold-bredde: 588px;

@import "./App.less";
@import "components/informasjonsboks/Informasjonsboks.less";
