@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@familie-bakgrunn: #c1b6d0;
@familie-border: #826aa1;
@panel-bredde: 792px;
@panel-innhold-bredde: 588px;

@import "@navikt/ds-css";

@import "./App.less";
@import "components/informasjonsboks/Informasjonsboks.less";

@navLysGra: #f1f1f1;
@navBla: #0067c5;
@navMorkGra: #6a6a6a;
@orangeFocus: #ff9100;
